<h2>Sign Up</h2>
<form class="signup-form">
    <div>
        <label for="username-signup">username:</label>
        <input type="text" id="username-signup" />
    </div>
    <div>
        <label for="password-signup">password:</label>
        <input type="password" id="password-signup" />
    </div>
    <div>
        <button type="submit" class="btn">create account</button>
    </div>
    <a type="button" href="/login" class="mt-3">Back to login</a>
</form>

<script src="/javascript/signup.js"></script>